* {
  font-family: 'Poppins', sans-serif;

}


*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container-main {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.body {
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

/*----------------------------------------------MENU----------------------------------------------------*/
.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);

}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logoo {

  width: 60px;

}



.menu>li>a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 15px;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu>li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu>li>a {
  display: flex;
  align-items: center;
  padding: 0 45px;
  color: rgb(255, 255, 255);
}

.navbar__wrap .menu>li>a:hover {
  color: rgb(255, 255, 255);
}


/*----------------------------------------------MAIN PAGE----------------------------------------------------*/


.promo {
  background-image: url(https://fra1.digitaloceanspaces.com/carrentbucket/static/main_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-inner {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  text-align: center;
  padding-top: 150px;

}

.title {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 70px;
  margin-bottom: 30px;
  color: whitesmoke;
  padding-top: 180px;

}

.subtitle {
  font-weight: 400;
  margin-bottom: 88px;
  align-self: center;
  color: whitesmoke;
  font-size: 40px;
  font-family: 'Public Sans', sans-serif;
}

.promo-text {
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #D50000;
  color: whitesmoke;
  margin: 0 auto;
  width: 200px;
  height: 45px;
  border-radius: 50px;
  line-height: 45px;
}

.promo-arrow {
  margin-top: auto;
  margin-bottom: 40px;
  align-self: center;
  width: 44px;
}

.promo_arrow_img {
  width: 15px;
}

.flota {
  max-width: 1200px;
  margin: 0 auto;
}

.info-flota {

  padding-top: 90px;
  text-align: center;
}

.banner {
  font-weight: 400;
  color: #D50000;
  font-size: 30px;
}


/* Button Styles */

.editCar,
.addbutton {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border-radius: 70px;
  border: 2px solid #D50000;
  color: #D50000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



/* First Button */

#arrow-hover {
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translateX(60px);
  opacity: 0;
  -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
  transition: all .15s cubic-bezier(.14, .59, 1, 1.01);
  margin: 0;
  padding: 0 5px;
}

a#button-1:hover img {
  width: 15px;
  opacity: 1;
  transform: translateX(50px);
}


#arrow-hover2 {
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translate(20px, -1.2px);
  opacity: 0;
  -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
  transition: all .15s cubic-bezier(.14, .59, 1, 1.01);
  margin: 0 0px;
}

a#button-2:hover img {
  width: 15px;
  opacity: 1;
  transform: translate(3px, -1.2px);
}

.cartools {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.filterForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D50000;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 50px;
}

.filterForm label {
  margin-right: 20px;
}

.filterForm label:not(:first-child):not(:last-child) {
  margin-left: 20px;
}

.filterForm select,
input {
  padding: 5px;
  border: 1px solid #C5C5C5;
  border-radius: 3px;
}

.filterForm select {
  width: 100px;
  color: black;
}

#filterForm input {
  width: 80px;
}

#filterForm input::placeholder {
  color: black;
}

#carList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.events {
  width: 75px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.60);
  position: absolute;
  top: 65px;
  left: -3px;
  display: flex;
  font-weight: 400;
  justify-content: flex-start;
  font-size: 12px;
  align-items: center;
}


.events:nth-child(2) {
  top: 90px;
}

.events:nth-child(3) {
  top: 115px;
}


.checked {
  height: 15px;
  margin-top: 2px;
  margin-left: 7px;

}

.checked_text {
  margin-top: 1px;
  margin-left: 5px;
  color: white;
}

.brandcar {
  display: flex;
  justify-content: center;
  margin: 0 20px 25px 20px;
}

.brand {
  padding-right: 10px;
}

.car {
  height: 370px;
  width: 350px;
  border: 3px solid #D50000;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
}

.carimgg {
  width: 230px;
  padding-top: 35px;
  height: 150px;
}

.brand,
.model {
  font-weight: 400;
}

.cartype {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transmision_logoo,
.fuel_logoo,
.day_logoo {
  width: 25px;
}

.transmision_type,
.fuel_type,
.price {
  padding-right: 15px;
  padding-left: 5px;
  font-weight: 400;
  font-size: 12px;
}

.price {
  color: red;
}

.carbutton {
  display: flex;
  margin-top: 40px;
  background: #D50000;
  height: 50px;
  width: 201px;
  border-radius: 40px;
  color: white;
  justify-content: center;
  align-items: center;
}

.deleteCar {
  font-weight: 400;
  font-size: 15px;
}

.reservation {
  position: fixed;
  height: 90vh;
  width: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}

.reservation_container {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carimgg_reservation {
  width: 230px;
  margin-top: 5px;
  height: 150px;
}

.brandmodel {
  display: flex;
  justify-content: center;
  margin: 0 20px 25px 20px;
}

.reserv_part1,
.reserv_part2,
.reserv_loyal,
.promo_reservation {
  width: 90%;
  height: 8vh;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.start_date_reservation,
.end_date_reservation,
.level_reservation,
.kod_reservation {
  width: 40%;
  height: 100%;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flatpickr-wrapper {
  width: 60%;
}

.flatpickr-wrapper .start_date_reservation1,
.flatpickr-wrapper .end_date_reservation1 {
  width: 100%;
}

.start_date_reservation1,
.end_date_reservation1,
.kod_reservation1 {
  width: 60%;
  height: 100%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}


.level_reservation1 {
  width: 60%;
  height: 100%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D50000;
}

.kod_reservation1 input {
  background: none;
  border: 0px;
  text-align: center;
  /* Выравнивание текста по центру */
  outline: none;
  /* Убирает обводку при фокусе */
}


.price_reservation_text {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.price_reservation1 {
  width: 60%;
  height: 100%;
  display: flex;
}

.price_r {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price_button {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D50000;
  color: white;
}

.price_reservation {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 90%;
  height: 8vh;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.carbutton_reservation {
  display: flex;
  margin-top: 10px;
  background: #D50000;
  height: 50px;
  width: 201px;
  border-radius: 40px;
  color: white;
  justify-content: center;
  align-items: center;
}

.flatpickr-calendar {}

/* wremenno  */

input[type=text],
select,
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #D50000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #D50000;
}

.content {
  background-image: url(/img/pexels-pixabay-63294.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.form {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(239, 237, 237, 0.829);
  padding: 30px;
  width: 600px;
}

.foter {
  height: 200px;
  background-color: #C5C5C5;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.footer_img {
  width: 300px;
  margin-left: 120px;
}

.footer_discription {
  margin-right: 220px;
  font-weight: 300;
}

.info-part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.info_part1_description {
  height: 400px;
  width: 1200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.348);
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.7;
}

.info_part1_description p {
  font-size: 25px;
}

.info-part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.description {
  height: 400px;
  width: 1200px;
  background-image: url(https://fra1.digitaloceanspaces.com/carrentbucket/static/info_partback.png);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  align-items: center;

}

.description_background {
  background-color: rgba(0, 0, 0, 0.60);
  height: 320px;
  width: 1100px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

.info_part2_description p {
  font-size: 25px;
}


.info-part3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.info-part3 p {
  font-size: 25px;
  line-height: 1.4;
  margin-right: 100px;
  font-weight: 300;
}

.mapa {
  width: 45%;
}

.info {
  max-width: 1200px;
  margin: 0 auto;
}

.promo_text {
  text-align: center;
  color: #D50000;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 150px;
  margin-top: 150px;
}

/* Yauhen  */


.form_login input[type=text],
select,
input[type=number],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #D50000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #D50000;
}

.content {
  background-image: url(https://fra1.digitaloceanspaces.com/carrentbucket/static/addcar_back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.form {
  max-width: 1220px;
  margin: 0 auto;
  background-color: rgba(239, 237, 237, 0.829);
  padding: 30px;
  width: 600px;
}

/*login,registr---------------------------*/

.content_login,
.content_registration {
  background-image: url(https://fra1.digitaloceanspaces.com/carrentbucket/static/login_back.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.signup_link {

  text-align: center;
  font-size: 12px;
}

.signup_link a {
  color: #D50000;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.form_login {
  max-width: 300px;
  min-height: 250px;
  margin: 0 auto;
  background-color: rgba(239, 237, 237, 0.829);
  padding: 30px;
  display: flex;
  align-items: center;
}


.submit-button>input[type=submit] {
  width: 220px;
}

.submit-button {

  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.miastokod,
.adresmiesz {
  display: flex;
  justify-content: space-between;
}

.miasto,
.adres {
  margin-right: 20px;
}

.kod,
.mieszkanie {
  margin-left: 20px;
}

.content_registration {
  height: 120vh;
}

.myframe {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

/* loyal page */

.container_loyal {
  width: 300px;
  height: 303px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut_div {
  position: relative;
  width: 100%;
  height: 100%;
  /* Добавим высоту для родительского элемента .donut_div */

}

.red-arc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#arrow {
  width: 70px;
  transition: transform 1s linear;
  /* Добавим анимацию для плавности поворота */
}

.arrow_div {
  position: absolute;
  margin-right: 70px;
}

#bubble {
  width: 100%;
}

.unit:hover,
.hovered {
  opacity: 0.8;
  stroke-width: 9;
}

.unit {
  stroke-width: 6.9;
  fill: none;
  stroke-dasharray: 10 100;
  stroke-dashoffset: 20;
  transition: stroke 0.3s ease, opacity 0.5s ease;
  opacity: 0;
  cursor: pointer;
  animation-name: render;
  animation-duration: 1.5s;
  transition-property: all;
  transition-duration: 1.5s;
}

.unit:nth-child(2) {
  stroke: #D50000;
  stroke-dasharray: 10 100;
  stroke-dashoffset: 20;
  animation: appear 0.5s linear 2.5s forwards;
}

.unit:nth-child(3) {
  stroke: #D45656;
  stroke-dasharray: 10 100;
  stroke-dashoffset: 30;
  animation: appear 0.5s linear 2s forwards;

}

.unit:nth-child(4) {
  stroke: #F58383;
  stroke-dasharray: 10 100;
  stroke-dashoffset: 40;
  animation: appear 0.5s linear 1.5s forwards;

}

.unit:nth-child(5) {
  stroke: #FFB5B5;
  stroke-dasharray: 10 100;
  stroke-dashoffset: 50;
  animation: appear 0.5s linear 1s forwards;

}

.unit:nth-child(6) {
  stroke: #FFE5E5;
  stroke-dasharray: 10 100;
  stroke-dashoffset: 60;
  animation: appear 0.5s linear 0.5s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.level_text {
  position: absolute;
  margin-top: 140px;
  flex-direction: column;
  align-items: center;
  display: none;
  text-transform: uppercase;
  width: 300px;
  height: 100px;
  justify-content: center;
  border-radius: 20px;
}

.level_description,
.additional_description,
.data-third-description,
.data-last-description {
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}

.level_description,
.level {
  font-weight: bold;
  font-size: 8px;
}

.additional_description,
.data-third-description,
.data-last-description {
  font-size: 8px;
  font-weight: normal;
}

.close_button {
  height: 27px;
}

.close-button {
  border: none;
  background: none;
  position: absolute;
  left: 90%;
}


.poziom_description {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}

.staly_klient {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}


/* Admin panel  */

.main {
  min-height: 100vh;
}

.main_panel {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_ppanel {
  background: rgba(197, 197, 197, 0.30);
}

.panel {
  height: 130px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.first_name,
.admin_name {
  font-weight: 500;
  font-size: 22px;
}

.email {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.admin_panel {
  max-width: 1200px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}

.history h2,
.question h2 {
  color: #D50000;
  font-size: 18px;
}

.history {
  width: 45%;
}

.question {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.question_main {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.80);
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: 20px;
}

.table_history {
  margin-top: 20px;
  border-collapse: collapse;
  border-style: solid;
  border: 9px solid #D9D9D9;
  width: 100%;
}

.question_main p {
  margin: 7px;
}

.question_main svg {
  margin-right: 14px;
  margin-left: 7px;
}

.table_history thead {
  background-color: #D9D9D9;
  margin-bottom: 5px;
}

.table_history tr {
  vertical-align: middle;
  text-align: center;
}

.table_history th {
  vertical-align: middle;
}

thead th {
  height: 50px;
}

tbody td {
  height: 30px;
  vertical-align: middle;
}

#result {

  height: 50px;
  background-color: green;

}

/*-----------------------------------------------------konto klienta-------------------------------------------------------*/

.container_klient {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;

}

.box {
  box-sizing: border-box;

}

.box-60 {
  width: 60%;
  padding-bottom: 101px;
}

.box-40 {
  width: 40%;
}



.carousel {

  margin: auto;
  overflow: hidden;
  position: relative;

}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;


}

.item {
  flex: 0 0 33.33%;
  overflow: hidden;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 148.243px;
  flex-shrink: 0;
  border-radius: 21.086px;
  background: #D9D9D9;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.carousel-control {

  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;

  border: none;
  background: none;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.left {
  left: -2px;
}

.right {
  right: -2px;
}

.slide-content {
  text-align: center;
  color: white;
}

.model_klient {
  width: 132.268px;
  height: 16.613px;
  flex-shrink: 0;
  color: #000;

  font-family: Poppins;
  font-size: 11.502px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

}

.date {
  padding-top: 15px;
  width: 123.323px;
  height: 23.642px;
  flex-shrink: 0;
  color: #000;

  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.status {
  display: flex;
}

.status-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 3px;
}

.green {
  display: flex;
  width: 53.674px;
  height: 34.505px;
  padding: 6.39px;
  justify-content: center;
  align-items: center;
  gap: 6.39px;
  flex-shrink: 0;
  border-radius: 6.39px;
  border: 1.278px solid #02B000;
  background: #404040;
}

.red {
  background-color: red;
  border-radius: 6.39px;
  border: 1.278px solid #B00;

  background: #D50000;
  display: flex;
  width: 53.035px;
  height: 34.505px;
  padding: 6.39px;
  justify-content: center;
  align-items: center;
  gap: 6.39px;
  flex-shrink: 0;
}


.carousel-inner {
  display: flex;
  padding-right: 9%;

}

.item {
  box-sizing: border-box;
  width: calc(50% - 21px);
  /* Ширина слайда с учетом промежутка между слайдерами */
  margin: 0 10.5px;
  /* Половина желаемого промежутка (21 пиксель) между слайдерами */
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 0;
}

.historia_wyp {
  color: #D50000;

  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 14px;
}



.aktualna_rezerwacja {
  width: 590px;
  height: 245px;
  flex-shrink: 0;
  border-radius: 33px;
  background: #D9D9D9;
  display: flex;
  flex-wrap: wrap;
  color: #D50000;
}



.tekst-rezerwacja,
#timer {


  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding-top: 19px;
  text-align: center;
  /* Выравнивание текста по центру */
  height: 49px;
  width: 50%;
}

#timer {
  color: black;

}

.zdj_samochodu {
  width: 60%;
  height: 250px;
  text-align: center;

}

.info_samochodu {
  width: 40%;
  height: 177px;
}

.samochod-img {
  /* Установите максимальную ширину для изображения, чтобы она не превышала ширину своего контейнера */
  max-width: 100%;
  max-height: 180px;
}

.scale {
  transform: scale(1.5);
  /* Измените значение масштаба по вашему усмотрению */
  transform-origin: top left;
  /* Выберите точку начала масштабирования (в данном случае, верхний левый угол) */

}

.tekst_kodprz {
  color: #000;

  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.kod_lojal {
  width: 268px;
  height: 119px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 10% 10% 0% 20%;
}

#copy-target {
  padding-top: 30px;
}

.copy-button,
.copy-success {
  border: none;
  background: none;
  padding-top: 22px;
  cursor: pointer;
}

.copy-success {
  display: none;
}

/*-----------------------------------------------------dane klienta-------------------------------------------------------*/

.danne {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
}

.danne h3 {
  text-transform: uppercase;
  color: #D50000;
  font-weight: 500;
}

.danne p {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 20px;
}

.right_content {
  margin-left: 200px;
}

.edit {
  display: flex;
  align-items: center;
}

.edit h3 {
  text-transform: uppercase;
  color: #d50000;
  font-weight: 500;
  margin: 0;
  /* Уберем внешние отступы у h3 */
}

.edit .edit_danne {
  padding: 0;
  /* Уберем внутренние отступы у кнопки */
  margin-left: 30px;
  /* Добавим небольшой отступ между текстом и кнопкой */
  background: #D9D9D9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  border-radius: 40px;
}

.moje_konto_link {
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 20px;
}

.panel_right {
  display: flex;
  align-items: center;
}

/*----------------------------------------------------admin_nowe_Weryfikacje------------------------------------------------------*/

.admin_nowe_weryfikacje {
  max-width: 1200px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.weryfikacja {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(217, 217, 217, 0.80);
  align-items: center;
  height: 56px;
}

.dokumenty,
.bonusy {
  width: 49%;
}

.dokumenty h3,
.bonusy h3 {
  text-align: center;
  margin-bottom: 50px;
}

.dokumenty p,
.bonusy p {
  margin-left: 10px;
}

.dokumenty button,
.bonusy button {
  margin-right: 10px;
  border-radius: 10px;
  width: 100px;
}

/*----------------------------------------------------bonusy------------------------------------------------------*/

.bonusyy {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  width: 49%;
}

.bonus_main {
  margin-top: 100px;
}

.bonus_main h1 {
  text-align: center;
  font-size: 26px;
  color: #D50000;
  font-weight: 500;
  margin-bottom: 70px;
}

.bonus_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left_bonus,
.right_bonus {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.bonus_content p {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.bonus_title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.bonus_img {
  width: 100%;
  margin-bottom: 15px;
}

.tank_button,
.umyj_button {
  background: #D50000;
  border-radius: 40px;
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
}

.bonus_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.bonus_footer p {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 100px;
}

.popup {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  display: none;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close_weryf {
  height: 27px;
}

.close-weryf {
  border: none;
  background: none;
  position: absolute;
  left: 93%;
  top: 2%;
}

.popup p {
  margin: 5px;
}

#change-data {
  margin-top: 50px;
}

#change-data p {
  color: #D50000;
  margin: 5px;
}

.decision {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

#accept,
#decline ,
#acceptt,
#declinee{
  border-radius: 40px;
  width: 90px;
  height: 30px;
}

#accept ,#acceptt  {
  background-color: rgb(72, 187, 72);
}

#decline, #declinee {
  background-color: #D50000;
}

#comment {
  border: 2px solid;
  width: 500px;
  border-radius: 40px;
  margin-top: 25px;
}

#rating {
  margin-bottom: 10px;
  border-radius: 40px;
}

.opinie {
  max-width: 1200px;
  margin: 0 auto;
}

.coment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

#submit-btn{
  text-transform: uppercase;
  margin-top: 0px;
}

#rating{
  border: 2px solid;
}

#submit_review{
  height: 50px;
  width: 100px;
  border-radius: 40px;
  margin-top: 20px;
  background-color: #D50000;
  color: white;
}

#review-form p{
  text-align: center;
}

.rating label{
  text-align: center;
}

.card { 
  width: 100%; 
} 

.star { 
  font-size: 8vh; 
} 

.one { 
  color: #D50000; 
} 

.two { 
  color: #D50000; 
} 

.three { 
  color: #D50000; 
} 

.four { 
  color: #D50000; 
} 

.five { 
  color: #D50000; 
}

.comment-item{
 margin-bottom: 100px;
}

.comment-item p{
  font-size: 20px;
}

.opin_main{
  display: flex;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 40px;
  height:auto;
}

.opin_kom{
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opin_kom p{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.taxi{
  margin-top: 50px;
}

.bonuss_img{
  margin-bottom: 15px;
  height: 300px;
}

.close_weryf-bonus {
  height: 27px;
}

.close-weryf-bonus {
  border: none;
  background: none;
  position: absolute;
  left: 93%;
  top: 2%;
}